<div>
  <h2>{{question.text}}</h2>
  <h3>Answers</h3>
  <ul>
    <li ng-repeat='item in question.answers'>
      <span ng-click="editing = true">
        {{item.text}}
      </span>
      <span class="form-group" ng-show="editing" ng-submit="editing=false">
        <form class="form-inline" role="form">
          <input class='form-control' ng-model='item.rating' type="number" min='1' max='5' value="1">
          <input class='form-control' ng-model='item.approved' type="checkbox">Approved
          <button class="btn btn-default btn-sm" type="submit">Save</button>
        </form>
      </span>
      <span ng-show="item.approved && !editing">APPROVED!</span>
      <strong ng-show='item.rating && !editing'>{{item.rating}}</strong>
      <span ng-show="!editing" ng-click="addUpVote(item.id)"><img class="icon" src="img/up.png">{{item.upvote}}</span>
        <span ng-show="!editing" ng-click="addDownVote(item.id)"><img class="icon" src="img/down.png"></span>
    </li>
  </ul>
  <form ng-submit='addAnswer()' role='form'>
    <div class='form-group'>
      <input type="text" ng-model='answer' class='form-control' placeholder='Enter Your Answer Here'>
    </div>
    <button type='submit' class='btn btn-danger'>Answer!</button>
  </form>
  <a ui-sref="questions"><button class='btn btn-success'>Go back</button></a>
</div>
